.container {
    background-color: black;
    color: white;
    position: absolute;
    top: 30%;
    left: 45%;
    border-radius: 10px;
    padding: 20px;

}
.botao {
    width: 70px;
    height: 40px;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    background-color: rgb(191, 92, 31);
    color: white;
    border-radius: 15%;
    box-shadow: rgba(0, 0, 0, 0.091);
}
.botao:hover {
    background-color: black;
}
.caixa {
    border-radius: 5%;
    font-size: 15px;
    height: 25px;
}