body {
    background-color:white;
    text-align: center;
    font: normal 12pt Arial;
}
section {
    position:relative;
    top: 150px;
    text-align: center;
    background:  black;
    padding: 40px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    font: normal 12pt Arial;
}
#botao {
    position: relative;
    padding: 15px;
    top: 15px;
    border-radius: 6px;
    background-color: #ff9500;
    color: white;
    width: 100%;
}
input {
    border-radius: 6px;
    padding: 10px;
    
}
h2{
    color: white;
    position: relative;
    top: -30px;
}
h3{
    color: white;
}